<%= form_for(manufacturer) do |f| %>
  <% if manufacturer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manufacturer.errors.count, "error") %> prohibited this manufacturer from being saved:</h2>

      <ul>
        <% manufacturer.errors.full_messages.each do |msg| %>
          <li style="color:red;"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :country %>
    <%= f.text_field :country %>
  </div>

  <div class="actions">
    <%= f.submit 'Add Manufacturer' %>
  </div>
<% end %>
